.myCartCard{
    border: 2px violet solid;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 5px;
    
}

.productDetailsimg{
    border-radius: 40px;
}

.myProductinfo{
    border-radius: 10px;
}