<div class=" d-flex justify-content-center">
    <div class="  product-card-1  m-0 text-center p-0 mt-5  product-details  ">
        <div class="row ">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <a routerLink="/product/{{myproduct.id}}" style="text-decoration: none;">

                    <img src="{{myproduct.url}}" class="card-img myimg m-0 p-0 productDetailsimg ">

                </a>
            </div>

            <div class=" m-0 p-0 col-lg-6 col-md-8 col-sm-6 ">
                <div class="mt-5 ">
                    <a routerLink="/" class='btn btn-outline-primary backTohome' > <i class="fa-solid fa-circle-left"></i> <<- Back to home page</a>
                </div>
                <div class="card-body bg-dark mt-5 ">
                    <h5 class="card-title bg-white">{{myproduct.name}}</h5>

                    <h5 class="card-footer bg-white">price : {{myproduct.price}} $</h5>
                    <h5 class="card-footer bg-white"> {{myproduct.description}}</h5>
                    <div class=" card-footer bg-white text-center">
                        <h5 class=" bg-white"> Amount </h5>

                            <input type="number" class="card-footer w-50"  id="amount" name='amount' value="{{myproduct.amount}}" [(ngModel)]="myproduct.amount" >
                    </div>
                    
                    
                </div>
                <div class="mt-5 d-flex justify-content-center">
                <button class=" btn btn-outline-danger col-6 mt-2  addToCard" (click)="addToCart(myproduct)">Add to cart  ->></button><i class="fa-solid fa-thumbs-up"></i></div>
            </div>
        </div>


    </div>
</div>