
<div class="mt-5 d-flex justify-content-center ">


    <div class="row">
        <div class="d-flex justify-content-center m-0 p-0">
        </div>
        <form #form='ngForm' (ngSubmit)="submitForm(user)" class=" card text-center w-100  p-2 mt-5">
            <div class=" m-1 ">

                <label for="name" class=" form-label">Full Name </label>
                <input type="text" class="form-control" required minlength="3" #name="ngModel"
                    placeholder="Enter your full name" name="name" id="name" [(ngModel)]="user.fullName">
                    <div *ngIf="(name.invalid && (name.dirty || name.touched)) "
                    class="alert m-0 p-0 mt-1">
            
                    <p *ngIf="name.errors?.['required']" class="alert alert-danger text-center m-0 p-0 " role="alert">
                        Name is required.
                    </p>
                    <p *ngIf="name.errors?.['minlength']" class="alert alert-danger   m-0 p-0 " role="alert">
                        Name at least 3 characters
                    </p>
                    </div>
            </div>
            <div class=" m-1 ">
                <label for="address" class=" form-label">Address </label>
                <input type="text" class="form-control" required minlength="6" placeholder="Enter your address"
                    name="form_address" #form_address="ngModel" id="form_address" [(ngModel)]="user.address">
                    <div *ngIf="(form_address.invalid && (form_address.dirty || form_address.touched))"
            class="alert m-0 p-0">
            <p *ngIf="form_address.errors?.['required']" class="alert alert-danger  text-center m-0  p-0"
                role="alert">
                Address is required.
            </p>
            <p *ngIf="form_address.errors?.['minlength']" class="alert alert-danger  m-0 p-0 " role="alert">
                Address at least 6 characters .
            </p>
        </div>
            </div>
            <div class=" m-1">
                <label for="creditCard" class=" form-label">Credit card number </label>
                <input type="number"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                    maxlength="16" class="form-control" required placeholder="Enter your credit card number"
                    name="creditCard" #creditCard="ngModel" id="creditCard" [(ngModel)]="user.creditCardNumber">

                    <div *ngIf="(creditCard.invalid && (creditCard.dirty || creditCard.touched))"
                    class="alert m-0 p-0">
                    <p *ngIf="creditCard.errors?.['required']" class="alert alert-danger  text-center m-0  p-0"
                        role="alert">
                        Credit card number is required.
                    </p>
                    <p *ngIf="creditCard.errors?.['minlength']" class="alert alert-danger  m-0 p-0 " role="alert">
                        creditCard at least 16 characters .
                    </p>
                </div>
            </div>
            <div class=" d-flex justify-content-center">

                <input type="submit" class="btn btn-outline-success text-center mt-2" [disabled]="form.invalid"
                    value="Submit" />
            </div>

        </form>
    </div>
</div>