<div class="row footer fixed-bottom mt-5">

<footer class="row">
    <div class="mt-1  d-flex justify-content-end col-6">
        <h4 class="contactMe text-center">
            Contact me
        </h4>
    </div>
    <div class="  d-flex justify-content-start links col-6 mt-1">
        <a class="m-1" href="https://github.com/khalidghanamy">
            <i class="fa fa-github" aria-hidden="true"></i>

        </a>
        <span> </span>
        <a class="m-1" href="https://www.linkedin.com/in/khalid-ghanamy/">
            <i class="fa fa-linkedin" aria-hidden="true"></i> </a>

        <a class="m-1" href="https://wa.me/2001005712097"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
    </div>
</footer>
</div>