
<div class=" card product-card-1 mx-2 m-0 d-flex text-center p-0 productcard">
    
    <a  routerLink="product/{{myproduct.id}}" style="text-decoration: none;">
        
        <img src="{{myproduct.url}}" class="card-img myimg m-0 p-0">
       
    </a>
            <div>
                <div class="card m-0 p-0" >
                    <div class="card-body bg-dark">
                        <h5 class="card-title bg-white">{{myproduct.name}}</h5>
                        
                        <h5 class="card-footer bg-white">price : {{myproduct.price}} $</h5>
                        <div class=" card-footer bg-white text-center">
                            <h5 class=" bg-white"> Amount </h5>
    
                                <input type="number" class="card-footer btn-outline-dark w-50"  id="amount" name='amount' value="{{myproduct.amount}}" [(ngModel)]="myproduct.amount" >
                        </div>
                        <button class=" btn btn-danger col-6 mt-2" (click)="addToCart(myproduct)" >add to cart</button>
                        
                        
                    </div>
                </div>
            </div>
        
    </div>